.cry-mom-button {
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  padding: 8px 12px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  transition: 0s ease-in-out;
  position: relative;
}

.cry-mom-button:hover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.cry-mom-image {
  position: absolute;
}
